<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Donger.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DongerBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E3FBD171CDBF936007F1F7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF3F52A1CDBEB70006C6E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF3F53E1CDBEB70006C6E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EF3F5491CDBEB70006C6E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
